.grid-form{
    display: grid;
    grid-template-columns: 10% 10% 10% 10%
}
.input-style{
    margin: 1%;
}
.button{
    width: 19%;
    height: 11%;
    margin-top: 1%;
}

.buttonSearch{
    width: 28%;
    height: 23%;
    margin-top: 1%;
}